body {
  	background-color: #ECECEA;
  	padding: 20px;
  	margin: 0;

}
h1, h2, p, ul, li {
  	font-family: Helvetica, Arial, sans-serif;

}
ul.header li {
  	display: inline;
  	list-style-type: none;
  	margin: 0;

}
ul.header {
  	background-color: #D9853B;
  	padding: 0;

}
ul.header li a {
  	color: #558C89;
  	font-weight: bold;
  	text-decoration: none;
  	padding: 20px;
  	display: inline-block;

}
.content {
  	background-color: #74AFAD;
  	padding: 20px;

}
.content h2 {
  	padding: 0;
  	margin: 0;

}
.content li {
  	margin-bottom: 10px;

}
.active {
  	background-color: #74AFAD;
}

.todoListMain .header input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #FFF;

}

.todoListMain .header button {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    background-color: #D9853B;
    color: #FFF;
    border: 2px solid #D9853B;

}

.todoListMain .header button:hover {
    background-color: #ad6a2f;
    border: 2px solid #ad6a2f;
    cursor: pointer;

}

.todoListMain .theList {
    list-style: none;
    padding-left: 0;
    width: 255px;

}

.todoListMain .theList li {
    color: #333;
    background-color: rgba(255,255,255,.5);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
        
      }